<mat-dialog-content>
  <mat-toolbar><span>Formulario Cargo</span></mat-toolbar>

  <div class="example-container">
    <form [formGroup]="form"  class="example-container" #ProveedorForm="ngForm">

      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="nombre">
        @if (f['nombre'].errors?.['required'] && f['nombre'].touched) {
          <small class="invalid">Es obligatorio</small>
        }
        @if (f['nombre'].errors?.['minlength'] && f['nombre'].touched) {
          <small class="invalid">Minimo de 3 caracteres</small>
        }
      </mat-form-field>

      <br/>
      <button mat-button (click)="operate()" [disabled]="form.invalid">Guardar</button>
      <button mat-button color="accent" (click)="close()">Cancelar</button>
    </form>
  </div>
</mat-dialog-content>
